<!DOCTYPE html>
<html>
<head>
    <title>Formularz synchroniczny</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
   <div class="form-box">
  <h1>Formularz Async</h1>

  <form method="post">
    <label for="name">Imię:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <input type="submit" value="Wyślij">

    <p>Dane zostały wysłane do kolejki!</p>
  </form>
</div>
</body>
</html>
