/venv
/zadanie1/.env
/zadanie1/instance
/zadanie1/app/__pycache__
/zadanie1/app/routes/__pycache__
/zadanie1/app/forms/__pycache__
/zadanie1/__pycache__
/zadanie2/__pycache__
/zadanie2/.env
/zadanie2/app/__pycache__
/zadanie2/app/routes/__pycache__
/zadanie2/instance