<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Formularz Sync</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="form-box">
    <h1>Formularz Sync</h1>

    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}
      {{ form.email.label }} {{ form.email() }}
      <br>
      <button type="submit">Wyślij</button>
      <br>
      <br>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flash">
            {% for category, msg in messages %}
              <li class="{{ category }}">{{ msg }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </form>

  </div>
</body>
</html>
